development:
  adapter: mysql2
  host: localhost
  username: root
  database: ussd_dev
  password: password
  pool: 500

production:
  adapter: mysql2
  username: root
  database: ussd_prod
  password: password
  host: localhost
  pool: 500

test:
  adapter: mysql2
  database: ussd_test
  username: root
  password: password
  host: localhost
